body {
    text-align: center;
}

.main-view .button-group-main-menu {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.main-view .button-selected {
    color: whitesmoke;
    background-color: #222;
}

.error {
    color: rgb(205, 90, 90);
}
