body h1 {
    text-align: center;
    color: #1da1f2;
    font-family: "Segoe UI";
    font-style: italic;
    padding-top: 60px;
}

body#login-page {
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body#login-page .login-form {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Segoe UI";
}

body#login-page hr {
    width: 20%;
    border-top: 1px solid #333;
    margin: 20px;
}

body#register-page {
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body#register-page .register-form {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Segoe UI";
}
.main-view .button-group-main-menu {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.main-view .button-selected {
    color: whitesmoke;
    background-color: #222;
}

.error {
    color: rgb(205, 90, 90);
}

#all-transactions-list,
#income-transactions-list,
#expense-transactions-list {
    display: inline-block;
    margin: 10px;
}

.create-transaction-form,
.add-permission-form {
    display: inline-block;
    margin: 10px;
    margin-top: 30px;
}
