<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body>
        <h1>Simple Budget App</h1>
        {% for message in get_flashed_messages() %}
        <div class="error">
            <p>
                <b>{{ message }}</b>
            </p>
        </div>
        {% endfor %}
        <div class="login-form">
            <form action="/login" method="post">
                <p>
                    <label for="username">Username</label>: <br />
                    <input type="text" name="username" id="username" />
                </p>
                <p>
                    <label for="password">Password</label>: <br />
                    <input type="password" name="password" id="password" />
                </p>
                <input type="submit" value="Login" />
            </form>
        </div>
        <br />
        <hr style="width: 15%" />
        <br />
        <div class="register-form">
            <form action="/register" method="get">
                <button type="submit">Register New Account</button>
            </form>
        </div>
    </body>
</html>
