<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body id="login-page">
        <h1 id="login-title">Simple Budget App</h1>
        {% for message in get_flashed_messages() %}
        <div class="error" id="flash-message">
            <p>
                <b>{{ message }}</b>
            </p>
        </div>
        {% endfor %}
        <div class="login-form" id="login-form">
            <form action="/login" method="post">
                <p>
                    <label for="username">Username</label> <br />
                    <input type="text" name="username" id="username" />
                </p>
                <p>
                    <label for="password">Password</label> <br />
                    <input type="password" name="password" id="password" />
                </p>
                <input type="submit" value="Login" id="login-button" />
            </form>
        </div>
        <hr />
        <div class="register-form" id="register-form">
            <form action="/register" method="get">
                <button type="submit" id="register-button">
                    Register New Account
                </button>
            </form>
        </div>
    </body>
</html>
