<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        {% if session.username %}
        <div class="nav">
            <nav></nav>
        </div>
        <div class="content">{% block content %}{% endblock %}</div>
        {% else %}
        <p>
            You must be logged in to view this page,
            <a href="/login">Click here to log in</a>.
        </p>
        {% endif %}
    </body>
</html>
