<!DOCTYPE html>
<html>
    <head>
        <title>Main View</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body class="main-view">
        <h1>Simple Budget App - Main View</h1>
        {% if session.username %}
        <p>Logged in as: {{ session.username }}</p>
        <div class="button-group-main-menu">
            <form action="/main" method="get">
                <button class="button-selected" button type="submit">
                    Main
                </button>
            </form>
            <form action="/projects" method="get">
                <button type="submit">Projects</button>
            </form>
            <form action="/logout" method="get">
                <button type="submit">Log out</button>
            </form>
        </div>
        <br />
        <hr style="width: 15%" />
        <br />
        <p>Active Projects:</p>
        {% for item in items %}
        <a href="/item/{{ item }}">{{ item }}</a><br />
        {% endfor %} {% else %}
        <p>You must be logged in to see main view.</p>
        {% endif %}
    </body>
</html>
