<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body class="main-view">
        <h1>Simple Budget App - Main View</h1>
        {% if session.username %}
        <p>
            Logged in as:
            <a id="user-identifier" href="/profile/{{ session.user_id }}"
                >{{ session.username }}</a
            >
        </p>
        <nav>
            <a
                href="/main"
                class="{% if active_page == 'main' %}active{% endif %}"
                >Main</a
            >
            <a
                href="/projects"
                class="{% if active_page == 'projects' %}active{% endif %}"
                >Projects</a
            >
            <a href="/logout">Logout</a>
        </nav>
        <div class="content">
            <p id="active-projects">Your Active Projects</p>
            <p id="last-login">Last Login</p>
        </div>
        {% else %}
        <p>You must be logged in to see main view.</p>
        {% endif %}
    </body>
</html>
