<!DOCTYPE html>
<html>
    <head>
        <title>Simple Budget App - Projects</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body class="main-view">
        <h1>Projects - Add New Project</h1>
        {% if session.username %}
        <p>
            Logged in as:
            <a href="/profile/{{ session.user_id }}">{{ session.username }}</a>
        </p>
        <div class="button-group-main-menu">
            <form action="/main" method="get">
                <button type="submit">Main</button>
            </form>
            <form action="/projects" method="get">
                <button class="button-selected" button type="submit">
                    Projects
                </button>
            </form>
            <form action="/logout" method="get">
                <button type="submit">Log out</button>
            </form>
        </div>
        <br />
        <hr style="width: 15%" />
        <br />
        <div class="button-group-main-menu">
            <form action="/projects" method="get">
                <button type="submit">View</button>
            </form>

            <form action="/projects/add" method="get">
                <button class="button-selected" button type="submit">
                    Add
                </button>
            </form>

            <form action="/projects/manage" method="get">
                <button type="submit">Manage</button>
            </form>
        </div>
        <br />
        <hr style="width: 25%" />
        <br />

        <div class="new-project-form">
            <form action="/projects/addproject" method="post">
                <p>
                    <label for="project-name">Project Name</label>: <br />
                    <input type="text" name="project-name" id="project-name" />
                </p>
                <p>
                    <label for="project-balance">Set Project Balance</label>:
                    <br />
                    <input
                        type="text"
                        name="project-balance"
                        id="project-balance"
                    />
                </p>
                <p>
                    Project Owner: //For now the creator is set as project_owner
                </p>
                <input type="submit" value="Create" />
            </form>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="error">
            <p>
                <b>{{ message }}</b>
            </p>
        </div>
        {% endfor %} {% else %}
        <p>You must be logged in to see main view.</p>
        {% endif %}
    </body>
</html>
