<!DOCTYPE html>
<html>
    <head>
        <title>Simple Budget App - User Profile</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body class="main-view">
        <h1>Projects - User Profile</h1>
        {% if session.username %}
        <p>
            Logged in as:
            <a href="/profile/{{ session.user_id }}">{{ session.username }}</a>
        </p>
        <div class="button-group-main-menu">
            <form action="/main" method="get">
                <button type="submit">Main</button>
            </form>
            <form action="/projects" method="get">
                <button type="submit">Projects</button>
            </form>
            <form action="/logout" method="get">
                <button type="submit">Log out</button>
            </form>
        </div>
        <br />
        <hr style="width: 15%" />
        <br />
        <div class="button-group-main-menu">
            <form action="/projects" method="get">
                <button type="submit">View</button>
            </form>

            <form action="/projects/add" method="get">
                <button type="submit">Add</button>
            </form>

            <form action="/projects/manage" method="get">
                <button type="submit">Manage</button>
            </form>
        </div>
        <br />
        <hr style="width: 25%" />
        <br />
        <div class="profile">
            <h2>User Profile</h2>
            <p><b>Username:</b> {{ user.username }}</p>
            <p><b>Real Name:</b> <br /></p>

            <p><b>Activate Projects:</b></p>
        </div>
        {% endif %}
    </body>
</html>
