<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body class="projects-view">
        <h1>Simple Budget App - Projects</h1>
        {% if session.username %}
        <p>
            Logged in as:
            <a id="user-identifier" href="/profile/{{ session.user_id }}"
                >{{ session.username }}</a
            >
        </p>
        <nav>
            <form action="/main" method="get">
                <button
                    type="submit"
                    class="{% if active_page == 'main' %}active{% endif %}"
                >
                    Main
                </button>
            </form>
            <form action="/projects" method="get">
                <button
                    type="submit"
                    class="{% if active_page == 'projects' %}active{% endif %}"
                >
                    Projects
                </button>
            </form>
            <form action="/logout" method="post">
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ session.csrf_token }}"
                />
                <button type="submit">Logout</button>
            </form>
        </nav>
        <div class="content">
            <p id="active-projects">Your Latest Projects</p>
            {% for project in projects %}
            <a href="/projects/{{ project.project_id }}"
                >{{ project.project_name }}</a
            ><br />
            {% endfor %} {% if has_more %}
            <form action="/projects" method="get">
                <input type="hidden" name="offset" value="{{ next_offset }}" />
                <button type="submit">Show More</button>
            </form>
            {% endif %}
            <p id="last-login">Last Login</p>
        </div>
        {% else %}
        <p>You must be logged in to see main view.</p>
        {% endif %}
    </body>
</html>
