<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body id="register-page">
        <h1>Register New Account</h1>
        {% for message in get_flashed_messages() %}
        <div class="error">
            <p>
                <b>{{ message }}</b>
            </p>
        </div>
        {% endfor %}

        <div class="register-form" id="register-form">
            <form action="/register" method="post">
                <p>
                    <label for="username">Username</label><br />
                    <input
                        type="text"
                        name="username"
                        id="username"
                        minlength="3"
                        maxlength="12"
                        required
                        value="{{ filled.username }}"
                    />
                </p>
                <p>
                    <label for="password1">Password</label><br />
                    <input
                        type="password"
                        name="password1"
                        id="password1"
                        minlength="6"
                        required
                    />
                </p>
                <p>
                    <label for="password2">Password Again</label><br />
                    <input
                        type="password"
                        name="password2"
                        id="password2"
                        minlength="6"
                        required
                    />
                </p>
                <input type="submit" value="Register" />
            </form>
            <p>
                <a href="/">Go back to login page</a>
            </p>
        </div>
    </body>
</html>
